<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
</head>
<body>
    <section class="intro">
        <img src="./../../assets/image/agence/image_vector.png" alt="">
    </section>

    <main id="contact">
        <form action="">
            <label for="">Nom</label>
            <input type="text" name="" id="">
    
            <label for="">Vous etes</label>
            <select name="pets" id="pet-select">
                <option value="">--Please choose an option--</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
            <div>
                <label for="">Email</label>
                <input type="email" name="" id="">
            </div>
            
                <label for="">Message</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            
            <input type="submit" value="Envoyer">
        </form>
    
    
        <section>
            <div>
                <h3>Adresse</h3>
                <p>40 Avenue Mohammedi clairbois – Bir Mourad Rais – Alger</p>
            </div>
    
            <div>
                <h3>Contact</h3>
                <p>
                    +213 (0) 23 54 04 70 <br>
                    +213 (0) 23 54 04 30 <br>
                    Email : anrh@anrh.dz contact@anrh.dz
                </p>
            </div>
            <div>
                <h3>Nos horaires</h3>
                <p>DIMANCHE-JEUDI 09:00 - 16:00</p>
            </div>
            <div>
                <h3>Suivez nous</h3>
                <img src="" alt="">
            </div>
        </section>
    </main>


    <style>
        #contact {
            display: flex;
        }
        form {
            display: flex;
            flex-direction: column;
            height: 50vh;
            margin: auto 5vw;
        }
        form input[type=text] {
            width: 10vw;
        }
    </style>
</body>

</html>