<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/menu.css">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
    <link rel="shortcut icon" href="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" type="image/x-icon">
    <script src="../../assets/script/sous_page.js"></script>
    <title>ANRH</title>
</head>

<body>
    <header id="header_changeant">
        <a href="./../accueil.html"><img src="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png"
                alt="logo ANRH" id="logo_ANRH"></a>
        <nav class="menu_static">
            <ul class="menu">
                <li><a href="./../accueil.html">ACCUEIL</a>
                </li>
                <li>L'AGENCE ▼
                    <ul class="sub-menu">
                        <a href="./../agence/historique.html">
                            <li>HISTORIQUE</li>
                        </a>
                        <a href="./../agence/juridique.html">
                            <li>JURIDIQUE</li>
                        </a>
                        <a href="./../agence/missions.html">
                            <li>NOS MISSIONS</li>
                        </a>
                        <a href="./../agence/mot_du_directeur.html">
                            <li>MOT DU DIRECTEUR</li>
                        </a>
                        <a href="./../agence/moyens.html">
                            <li>MOYENS</li>
                        </a>
                        <a href="./../agence/organisation.html">
                            <li>ORGANISATION</li>
                        </a>
                    </ul>
                </li>
                <li>CLIENT ▼
                    <ul class="sub-menu">
                        <a href="./../client/devis.html">
                            <li>DEVIS</li>
                        </a>
                        <a href="./../client/engagements.html">
                            <li>ENGAGEMENTS</li>
                        </a>
                        <a href="./../client/prestations.html">
                            <li>PRESTATIONS</li>
                        </a>
                    </ul>
                </li>
                <li>ACTIVITES ▼
                    <ul class="sub-menu">
                        <a href="./../activites/produits.html">
                            <li>PRODUITS</li>
                        </a>
                        <a href="./../activites/projets.html">
                            <li>PROJETS</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./cartographie/index.html">CARTOGRAPHIE ↗</a>
                </li>
                <li>BIBLIOGRAPHIE ▼
                    <ul class="sub-menu">
                        <a href="./../bibliographie/documentation.html">
                            <li>DOCUMENTATION</li>
                        </a>
                        <a href="./../bibliographie/metadonnees.html">
                            <li>METADONNEES</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./../contact/index.html"></a>
                    CONTACTEZ-NOUS ↗
                    </a>
                </li>
            </ul>
        </nav>
        <section class="langue">
            <a href=""> <img src="./../../assets/image/menu/drapeau_france.png" alt="drapeau_france"></a>
            <a href=""> <img src="./../../assets/image/menu/drapeau_algerie.png" alt="drapeau_algerie"></a>
        </section>
    </header>

    <nav class="menu_navigation">
    </nav>

    <div id="scrollUp">
        <img src="./../../assets/image/fleche_remonter_page.png" />
    </div>


    <section class="intro">
        <img src="./../../assets/image/activites/fond_du_header.png" alt="microscope flou">
    </section>

    <main>
        <h2>Carte</h2>
        <section class="produit">

            <img src="./../../assets/image/activites/produit/produit_carte.png" alt="">
            <p>L’A.N.R.H est une institution productrice de données de base et réfèrent national dans le domaine des
                ressources hydrauliques et pédologiques notre gamme de produits est la suivante :</p>
            <div>
                <ul>
                    <li>Carte de l’évapotranspiration</li>
                    <li>Carte pluviométrique</li>
                    <li>Carte du réseau hydro-climatique et de surveillance de la qualité des eaux</li>
                    <li>Carte des ressources en eau</li>
                    <li>Carte des écoulements superficiels</li>
                    <li>Carte hydrogéologique</li>
                    <li>Carte de vulnérabilité</li>
                </ul>
                <ul>
                    <li>Carte pédologique</li>
                    <li>Carte d’implantation des profils</li>
                    <li>Carte des zones homogènes</li>
                    <li>Carte des aptitudes culturales :
                        <ul>
                            <li>Culture maraichère</li>
                            <li>Culture céréalière</li>
                            <li>Culture arboricole</li>
                            <li>Culture fourragère</li>
                            <li>Culture industrielle</li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>Carte de situation des sites des retenus collinaires potentielles et des principales stations
                        hydrométriques</li>
                    <li>Carte de la perméabilité</li>
                    <li>Carte des Reserve Facilement Utilisable RFU</li>
                    <li>Carte de conductivité hydraulique</li>
                    <li>Carte de la qualité des eaux superficielles</li>
                </ul>
            </div>
        </section>

        <h2>Etudes</h2>
        <section class="produit">

            <img src="./../../assets/image/activites/produit/produit_etudes.png" alt="">
            <p>Le programme d’observation national a pour responsabilité de fournir des données, des connaissances et
                des
                renseignements sur les ressources en eau et en sol dont les différents utilisateurs et institutions ont
                besoin pour prendre des décisions éclairées en matière de gestion de l’eau et le sol. Des données
                synthétisées sont consultables sur la section cartographie du Site web de l’ANRH.
                La préservation, la protection et la sauvegarde des ressources en eau et sol contre toute action
                anthropique.
                Maitriser l’évaluation quantitative et qualitative des ressources hydriques et pédologiques sont autant
                de
                défis que continue à relever en apportant aux acteurs les compétences techniques et scientifiques
                nécessaires.</p>
            <div>
                <ul>
                    <li>Etudes hydrogéologiques régionales et locales</li>
                    <li> Etudes pédologiques</li>
                    <li> Etudes de pollution des sols</li>
                    <li> Etudes hydrodynamiques</li>
                    <li> Etudes Hydrobiologiques</li>
                    <li> Etude générale des crues</li>
                    <li> Etude des changements climatiques</li>
                    <li> Etude expérimentale et de suivi.</li>
                </ul>
                <ul>
                    <li> Annuaire hydrologique</li>
                    <li> Annuaire de la qualité des eaux des barrages</li>
                    <li> Annuaire piézométrique</li>
                    <li> Annuaire de la qualité des eaux souterraines</li>
                    <li> Bulletin mensuel de la qualité des eaux de barrages</li>
                    <li> Bulletin hydrologie</li>
                    <li> Modélisation des systèmes aquifères</li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <p>COPYRIGHT © 2022 AGENCE NATIONALE DES RESSOURCES HYDRIQUES. TOUS DROITS RÉSERVÉS</p>
    </footer>
    <style>
        .produit {
            width: 60vw;
            margin: auto;
        }

        .produit>img {
            width: 60vw;
            margin: auto;
            border: solid grey;
            border-radius: 25px;
        }

        .produit>div {
            display: flex;
        }

        .produit>div {
            display: flex;
        }

        .produit>div>ul {
            width: 33%;
            flex-grow: 1;
        }
    </style>
</body>

</html>