<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/menu.css">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
    <link rel="stylesheet" href="../../assets/css/presentation_liste_avec_image.css">
    <link rel="shortcut icon" href="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" type="image/x-icon">
    <script src="../../assets/script/sous_page.js"></script>
    <title>ANRH</title>
</head>

<body>
    <header id="header_changeant">
        <a href="./../accueil.html"><img src="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png"
                alt="logo ANRH" id="logo_ANRH"></a>
        <nav class="menu_static">
            <ul class="menu">
                <li><a href="./../accueil.html">ACCUEIL</a>
                </li>
                <li>L'AGENCE ▼
                    <ul class="sub-menu">
                        <a href="./../agence/historique.html">
                            <li>HISTORIQUE</li>
                        </a>
                        <a href="./../agence/juridique.html">
                            <li>JURIDIQUE</li>
                        </a>
                        <a href="./../agence/missions.html">
                            <li>NOS MISSIONS</li>
                        </a>
                        <a href="./../agence/mot_du_directeur.html">
                            <li>MOT DU DIRECTEUR</li>
                        </a>
                        <a href="./../agence/moyens.html">
                            <li>MOYENS</li>
                        </a>
                        <a href="./../agence/organisation.html">
                            <li>ORGANISATION</li>
                        </a>
                    </ul>
                </li>
                <li>CLIENT ▼
                    <ul class="sub-menu">
                        <a href="./../client/devis.html">
                            <li>DEVIS</li>
                        </a>
                        <a href="./../client/engagements.html">
                            <li>ENGAGEMENTS</li>
                        </a>
                        <a href="./../client/prestations.html">
                            <li>PRESTATIONS</li>
                        </a>
                    </ul>
                </li>
                <li style="border-top: solid;">ACTIVITES ▼
                    <ul class="sub-menu">
                        <a href="./../activites/produits.html">
                            <li>PRODUITS</li>
                        </a>
                        <a href="./../activites/projets.html">
                            <li style="color: lightblue;">PROJETS</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./cartographie/index.html">CARTOGRAPHIE ↗</a>
                </li>
                <li>BIBLIOGRAPHIE ▼
                    <ul class="sub-menu">
                        <a href="./../bibliographie/documentation.html">
                            <li>DOCUMENTATION</li>
                        </a>
                        <a href="./../bibliographie/metadonnees.html">
                            <li>METADONNEES</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./../contact/index.html">CONTACTEZ-NOUS ↗</a>
                </li>
            </ul>
        </nav>
        <section class="langue">
            <a href=""> <img src="./../../assets/image/menu/drapeau_france.png" alt="drapeau_france"></a>
            <a href=""> <img src="./../../assets/image/menu/drapeau_algerie.png" alt="drapeau_algerie"></a>
        </section>
    </header>

    <nav class="menu_navigation">
    </nav>

    <div id="scrollUp">
        <img src="./../../assets/image/fleche_remonter_page.png" />
    </div>


    <section class="intro">
        <img src="./../../assets/image/activites/fond_du_header.png" alt="microscope flou">
    </section>

    <main>
        <div id="presentation">
            <p>Un projet est un ensemble d’activités organisées en phases ou étapes et qui forment l’unité de gestion
                permettant la réalisation d’un objectif défini et précis intra ANRH ou avec différents partenaires.

                L’agence nationale des ressources hydriques réalise plusieurs projets relevant de ses compétences dans
                les
                domaines de pédologie, d’hydrologie et hydrogéologie. Elle a pour mission La surveillance de la
                ressource en
                eau et en sol: évaluer, anticiper et caractériser les différents risques.

                Deux niveaux de contrôle existent: la « surveillance ordinaire » effectuée tout au long de l’année et la
                «
                surveillance des risques » appliquée spécifiquement dans la réalisation de projets. Ces projets
                consistent à
                identifier toute ressource naturelle, à valoriser et à protéger contre toute forme de dégradation pour
                assurer un développement durable.</p>
        </div>


        <h2>Projet en cours de réalisation</h2>
        <section class="presentation_avec_image">
            <div>
                <h3>Projet « SIG-ANRH »</h3>
                <p>
                    Mise en place d’un système d’information géographique des ressources en eau et en sol à l’échelle
                    nationale pour une gestion cohérente et durable des données et des informations afin d’optimiser la
                    prise de décisions en matière de gestion intégrée des ressources en eau et sols du pays.</p>
            </div>
            <img src="./../../assets/image/activites/projet/projet_sig_anrh.png" alt="">

        </section>


        <div class="barre_jaune"></div>
        <section class="presentation_avec_image">
            <img src="./../../assets/image/activites/projet/projet_intrusion_marine.png" alt="">
            <div>
                <h3>Projet de l’intrusion marine</h3>
                <p>
                    Plaine de la Mitidja est située dans l’arrière-pays d’Alger et couvre une superficie de 1450 km2.
                    Son système aquifère est constitué des alluvions du quaternaire et des formations gréseuses ou
                    gréso-calcaire du pliocène. L’interprétation des résultats des valeurs de la conductivité électrique
                    enregistrées étaient de plus en plus importantes: entre 900 μS / cm et 5000 μS / cm. Elle indique
                    que la zone affectée par l’intrusion marine est celle qui s’étend depuis Bordj El Kiffan jusqu’à la
                    rive droite d’Oued El Hamiz. Cela a conduit à l’évolution du biseau salé dans cette zone côtière.
                </p>
            </div>
        </section>


        <div class="barre_jaune"></div>
        <section class="presentation_avec_image">
            <div>
                <h3>Cartographie des ressources en sols du Nord de l’Algérie par télédétection</h3>
                <p>

                    La réalisation de la carte des ressources en sol du Nord de l’Algérie par télédétection à l’échelle
                    1/200.000e qui apportera des éléments essentiels à une connaissance pédologique des régions non
                    encore cartographiées.
                    L’étude de la cartographie des sols par télédétection du Nord d’Algérie représente une opportunité
                    pour inventorier tout le Nord de l’Algérie et cartographier la typologie des sols en tout point dans
                    ce vaste territoire. Cette étude sera conçue à partir de nouvelles technologies d’investigations
                    (télédétection, systèmes d’information géographiques). Les informations recueillis sont importantes
                    quant à leurs utilisations, dans la préservation et la lutte contre toute forme de dégradation
                    naturelle ou humaine de cette ressource.</p>
            </div>
            <img src="./../../assets/image/activites/projet/projet_intrusion_marine.png" alt="">
        </section>


        <div class="barre_jaune"></div>
        <section class="presentation_avec_image">
            <img src="./../../assets/image/activites/projet/projet_Etudes agro pédologiques.png" alt="">
            <div>
                <h3>Etudes agro pédologiques et hydrodynamiques sur 43 000 ha</h3>
                <p>
                    Le but est la réalisation des études agro pédologiques et hydrodynamiques des périmètres identifiés
                    à l’amont des barrages en cours de construction et ou en APD, la détermination des types de sols,
                    détermination des propriétés hydrodynamiques des sols, les représenter géographiquement, identifier
                    les aptitudes culturales en vue de l’amélioration et de l’extension des zones irrigables pour
                    favoriser le développement hydro agricole. Le projet est structuré en quatre lots :</p>
                <ul>
                    <li>Lot zone ouest</li>
                    <li>Lot zone centre</li>
                    <li>Lot zone est</li>
                    <li>Lot zone steppique</li>
                </ul>
            </div>
        </section>


        <div class="barre_jaune"></div>
        <section class="presentation_avec_image">
            <div>
                <h3>Projet de renforcement des moyens d’acquisitions des données hydro-climatologiques</h3>
                <p>
                    Projet d’Aménagement et rénovation du réseau hydro-climatologique national et introduction du
                    système de télémesure.</p>
            </div>
            <img src="./../../assets/image/activites/projet/projet_renforcement des moyens d’acquisitions.png" alt="">
        </section>


        <div class="barre_jaune"></div>
        <section class="presentation_avec_image">
            <img src="./../../assets/image/activites/projet/projet _Cartographie des zones à risques.png" alt="">
            <div>
                <h3> Projet « Cartographie des zones à risques » </h3>
                <p>
                    Cartographie des zones à risque d’inondation pour la réalisation du plan de prévention et de
                    réduction du risque. PPRI : site de SIDI AKKACHA (W.CHELEF) et site de BEN M’HIDI (W.EL TAREF).
                    Projet « Cartographie des sols par télédétection » Etude et cartographie des ressources en sols par
                    télédétection.</p>
                <ul>
                    <li>Projet « Cartographie de l’érosion des bassins versant par télédétection » Etudes hydrologiques
                        des bassins versants et de l’érosion par télédétection.</li>
                    <li>Projet « Prospection hydrogéologique par les données satellitaires » Prospection hydrogéologique
                        à partir de la fusion des données satellitaires (optique et radar) région de GHARJBILET
                        (W.TINDOUF)</li>
                    <li>Projet « Les problèmes de la salinité des sols » Cartographie de la salinité des sols dans les
                        plaines de HABRA-SIG (W.MASCARA).</li>
                </ul>
            </div>
        </section>


        <div class="barre_jaune"></div>
        <section class="presentation_avec_image">
            <div>
                <h3>Projet SASS avec l’Observatoire du Sahara et Sahel</h3>
                <p>
                    Le « Système Aquifère du Sahara Septentrion le (SASS) » partagé par l’Algérie, la Libye et la
                    Tunisie, est un bassin à ressources en eau peu renouvelables qui couvre une superficie de près d’un
                    million de km2. Dans l’objectif d’asseoir un développement durable dans la région, l’OSS a mené,
                    dans un passé récent (2000-2010) des études à travers deux projets (SASS I et SASS II). Ces études
                    ont permis une meilleure connaissance hydraulique du système, la mise en place d’un système
                    d’information commun et l’instauration d’un mécanisme de concertation permanent entre les trois
                    pays.

                    Elles ont aussi apporté un éclairage sur le manque d’efficience de l’irrigation et la faible
                    valorisation de l’eau. Cette situation risque de s’aggraver dans le futur compte tenu de la
                    croissance des besoins et des impacts liés aux changements climatiques. C’est à ce titre qu’a été
                    initié le projet SASS III qui a pour finalité de produire des recommandations opérationnelles pour
                    une agriculture durable avec une préservation des ressources en eau et en sol.</p>
            </div>
            <img src="./../../assets/image/activites/projet/projet_SASS.png" alt="">
        </section>
    </main>

    <footer>
        <p>COPYRIGHT © 2022 AGENCE NATIONALE DES RESSOURCES HYDRIQUES. TOUS DROITS RÉSERVÉS</p>
    </footer>
</body>

</html>