<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/menu.css">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
    <link rel="stylesheet" href="../../assets/css/presentation_liste_avec_image.css">
    <link rel="shortcut icon" href="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" type="image/x-icon">
    <script src="../../assets/script/sous_page.js"></script>
    <title>ANRH</title>
</head>

<body>
    <header id="header_changeant">
        <a href="./../accueil.html"><img src="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png"
                alt="logo ANRH" id="logo_ANRH"></a>
        <nav class="menu_static">
            <ul class="menu">
                <li><a href="./../accueil.html">ACCUEIL</a>
                </li>
                <li>L'AGENCE ▼
                    <ul class="sub-menu">
                        <a href="./../agence/historique.html">
                            <li>HISTORIQUE</li>
                        </a>
                        <a href="./../agence/juridique.html">
                            <li>JURIDIQUE</li>
                        </a>
                        <a href="./../agence/missions.html">
                            <li>NOS MISSIONS</li>
                        </a>
                        <a href="./../agence/mot_du_directeur.html">
                            <li>MOT DU DIRECTEUR</li>
                        </a>
                        <a href="./../agence/moyens.html">
                            <li>MOYENS</li>
                        </a>
                        <a href="./../agence/organisation.html">
                            <li>ORGANISATION</li>
                        </a>
                    </ul>
                </li>
                <li>CLIENT ▼
                    <ul class="sub-menu">
                        <a href="./../client/devis.html">
                            <li>DEVIS</li>
                        </a>
                        <a href="./../client/engagements.html">
                            <li>ENGAGEMENTS</li>
                        </a>
                        <a href="./../client/prestations.html">
                            <li>PRESTATIONS</li>
                        </a>
                    </ul>
                </li>
                <li>ACTIVITES ▼
                    <ul class="sub-menu">
                        <a href="./../activites/produits.html">
                            <li>PRODUITS</li>
                        </a>
                        <a href="./../activites/projets.html">
                            <li>PROJETS</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./cartographie/index.html">CARTOGRAPHIE ↗</a>
                </li>
                <li>BIBLIOGRAPHIE ▼
                    <ul class="sub-menu">
                        <a href="./../bibliographie/documentation.html">
                            <li>DOCUMENTATION</li>
                        </a>
                        <a href="./../bibliographie/metadonnees.html">
                            <li>METADONNEES</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./../contact/index.html"></a>
                    CONTACTEZ-NOUS ↗
                    </a>
                </li>
            </ul>
        </nav>
        <section class="langue">
            <a href=""> <img src="./../../assets/image/menu/drapeau_france.png" alt="drapeau_france"></a>
            <a href=""> <img src="./../../assets/image/menu/drapeau_algerie.png" alt="drapeau_algerie"></a>
        </section>
    </header>

    <nav class="menu_navigation">
    </nav>

    <div id="scrollUp">
        <img src="./../../assets/image/fleche_remonter_page.png" />
    </div>


    <section class="intro">
        <img src="./../../assets/image/activites/fond_du_header.png" alt="microscope flou">
    </section>

    <main>
        <div id="presentation">
            <p>Un projet est un ensemble d’activités organisées en phases ou étapes et qui forment l’unité de gestion
                permettant la réalisation d’un objectif défini et précis intra ANRH ou avec différents partenaires.
    
                L’agence nationale des ressources hydriques réalise plusieurs projets relevant de ses compétences dans les
                domaines de pédologie, d’hydrologie et hydrogéologie. Elle a pour mission La surveillance de la ressource en
                eau et en sol: évaluer, anticiper et caractériser les différents risques.
    
                Deux niveaux de contrôle existent: la « surveillance ordinaire » effectuée tout au long de l’année et la «
                surveillance des risques » appliquée spécifiquement dans la réalisation de projets. Ces projets consistent à
                identifier toute ressource naturelle, à valoriser et à protéger contre toute forme de dégradation pour
                assurer un développement durable.</p>
        </div>


        <h2>Projet en cours de réalisation</h2>
        <section class="presentation_avec_image">
            <div>
                <h3>Projet « SIG-ANRH »</h3>
                <p>
                    Mise en place d’un système d’information géographique des ressources en eau et en sol à l’échelle
                    nationale pour une gestion cohérente et durable des données et des informations afin d’optimiser la
                    prise de décisions en matière de gestion intégrée des ressources en eau et sols du pays.</p>
            </div>
            <img src="./../../assets/image/activites/projet/projet_SIG-ANRH.png" alt="">
            <img src="./../../assets/image/activites/projet/Ellipse 33.svg" alt="" class="background_image">

        </section>
    </main>

    <footer>
        <p>COPYRIGHT © 2022 AGENCE NATIONALE DES RESSOURCES HYDRIQUES. TOUS DROITS RÉSERVÉS</p>
    </footer>
</body>

</html>