body {
    background-repeat: no-repeat;
    background-size: 200%;
    /*background-image: url(https://img.freepik.com/vecteurs-libre/belle-bleu-fond-aquarelle_1055-621.jpg?w=826&t=st=1681724231~exp=1681724831~hmac=92f1636832709f927a2211456ab355f1740ec6478c99344784f2ac8106c2c70a); */
    
    margin: 0%;
    padding: 0%;
    text-align: center;
}

div.carre_gris {
    border: 2px solid rgb(168, 168, 168);
    margin: auto;
    margin-top: 50px;
    width: 60vw;
    height: auto;
    color: rgba(168, 168, 168);
}

header {
    margin: 0%;
    height: 5vh;
    width: 100vw;
    background-color: rgb(168, 168, 168);
}

header > nav {
    width: 100%;
    height: 100%;
}

header > nav > a {}

header > nav > a > img {
    height: 90%;
    width: auto;
}

main {
    display: flex;
    background: linear-gradient(white, rgba(94, 177, 207), rgb(28, 28, 175));
}

main>article {
    width: 75vw;
    margin: 10%;
    margin-top: 5%;
    border: solid;
    display: grid;
}

main>aside {
    width: 25vw;
    border: solid;
    margin: 5%;
    padding: 2%;
}

main>aside>img {
    height: 20vh;
    width: auto;
}

/* https://believemy.com/r/creer-un-bouton-anime-arc-en-ciel
 */

button {
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
}

button::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: all .5s;
}

button:hover::after {
    transform: rotate(150deg);
}

button:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}

/* https://believemy.com/r/creer-un-bouton-avec-un-effet-de-remplissage
*/

a.bouton {
    width: 20%;
    height: 7vh;
    font-size: 1.3rem;
    font-family: arial, sans-serif;
    font-weight: 700;
    position: relative;
    color: black;
    z-index: 0;
    border: 2px solid black;
    background: rgba(245, 245, 245, 0.2);
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

a.bouton::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #315bb8;
    border-radius: 50% 50% 0% 0%;
    z-index: -1;
    transition: all .5s;
}

a.bouton:hover::before {
    top: 0px;
    border-radius: 0;
}