<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/accueil.css">
    <link rel="shortcut icon" href="../assets/image/logo-header-sanstexte.png" type="image/x-icon">
    <script src="../assets/script/test.js"></script>
    <title>ANRH</title>
</head>

<body>
    <!-- <header>
        <a href="#"><img src="../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" alt="logo ANRH"></a>
        <nav class="menu_static">
            <ul class="menu">
                <li><a href="#">ACCUEIL</a>
                </li>
                <li>L'AGENCE ▼
                    <ul class="sub-menu">
                        <a href="./agence/historique.html">
                            <li>HISTORIQUE</li>
                        </a>
                        <a href="./agence/juridique.html">
                            <li>JURIDIQUE</li>
                        </a>
                        <a href="./agence/missions.html">
                            <li>NOS MISSIONS</li>
                        </a>
                        <a href="./agence/mot_du_directeur.html">
                            <li>MOT DU DIRECTEUR</li>
                        </a>
                        <a href="./agence/moyens.html">
                            <li>MOYENS</li>
                        </a>
                        <a href="./agence/organisation.html">
                            <li>ORGANISATION</li>
                        </a>
                    </ul>
                </li>
                <li>CLIENT ▼
                    <ul class="sub-menu">
                        <a href="./client/devis.html">
                            <li>DEVIS</li>
                        </a>
                        <a href="./client/engagements.html">
                            <li>ENGAGEMENTS</li>
                        </a>
                        <a href="./client/prestations.html">
                            <li>PRESTATIONS</li>
                        </a>
                    </ul>
                </li>
                <li>ACTIVITES ▼
                    <ul class="sub-menu">
                        <a href="./activites/produits.html">
                            <li>PRODUITS</li>
                        </a>
                        <a href="./activites/projets.html">
                            <li>PROJETS</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./cartographie/index.html">CARTOGRAPHIE ↗</a>
                </li>
                <li>BIBLIOGRAPHIE ▼
                    <ul class="sub-menu">
                        <a href="./bibliographie/documentation.html">
                            <li>DOCUMENTATION</li>
                        </a>
                        <a href="./bibliographie/metadonnees.html">
                            <li>METADONNEES</li>
                        </a>
                    </ul>
                </li>
                <li>
                        <a href="./contact/index.html"></a>
                        CONTACTEZ-NOUS ↗
                    </a>
                </li>
            </ul>
        </nav> 
        <section class="langue">
            <a href=""> <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAbFBMVEVzldTg4ODS0tLxDwDtAwDjAADD0uz39/fy8vL3k4nzgna4yOixwuXu7u7s6+zn5+fyd2rvcGPtZljYAABrjNCpvOHrWkxegsqfs93NAADpUUFRd8THAABBa7wnVbERRKa8vLyxsLCoqKigoKClCvcsAAAAXklEQVR4AS3JxUEAQQAEwZo13Mk/R9w5/7UERJCIGIgj5qfRJZEpPyNfCgJTjMR1eRRnJiExFJz5Mf1PokWr/UztIjRGQ3V486u0HO55m634U6dMcf0RNPfkVCTvKjO16xHA8miowAAAAABJRU5ErkJggg=="
                    alt=""> fr</a>
            <a href=""> <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAilBMVEUPckAGaTUAYCjh4uHm5uba2tqSv6mIuKH6+/v39/d7sZZ0rJBuqYtnpYaNmYHw2Nfz7Ozy8fHu7u7ieXDmcWXnjofSe29hn4DR0dG6bF9PoH3gVUry9PNZnHvPbWBQlHLvzs0AURZ1hWjXWU7kdGvMzMxCjmg7hV9ycFTturkARgrIyskALAAADwA7Olc4AAAAdElEQVR4AS3BUQ7BQBRA0Xtf34wa+mUBYv9bIxJJS6qMH+cIIPYQ6IQWQBBAtuwk/sGTBDSKrggQoo4OawUenIxSbJ+isGDbAmy1RSmv5QAzcR5ajRy3nPpMZ0qoQTp5Fezk3rvtG+84MtOpyQUBvjd2E5UfYNob9chOOM4AAAAASUVORK5CYII="
                    alt=""> العربية</a>
        </section>
    </header> -->
    <section class="page_intro">


        <img src="../assets/image/accueil/presentation logo.png" alt="logo_entoure" id="presentation_logo">
        <h1>
            Agence Nationale des Ressources Hydriques
        </h1>
        <div class="barre_jaune"></div>
        <h2 class="bon">
            L’agence nationale des ressources hydriques est un établissement 
            public à caractère commercial, à vocation scientifique et technique.
        </h2>

        <img src="../assets/image/accueil/descend_page_intro.png" alt="image pour descendre" id="presentation_descendre" onclick="scrollPageBelowPresentation();">


    </section>

    <main>
    </main>
    <main>
    </main>
    
    <!-- <button>
        Clique-moi
    </button> -->
</body>

</html>
