<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/accueil.css">
    <link rel="stylesheet" href="../assets/css/menu.css">
    <link rel="shortcut icon" href="../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" type="image/x-icon">
    <script src="../assets/script/test.js"></script>
    <title>ANRH</title>
</head>

<body>
    <header id="header_changeant">
        <a href="#"><img src="../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" alt="logo ANRH" id="logo_ANRH"></a>
        <nav class="menu_static">
            <ul class="menu">
                <li><a href="#">ACCUEIL</a>
                </li>
                <li>L'AGENCE ▼
                    <ul class="sub-menu">
                        <a href="./agence/historique.html">
                            <li>HISTORIQUE</li>
                        </a>
                        <a href="./agence/juridique.html">
                            <li>JURIDIQUE</li>
                        </a>
                        <a href="./agence/missions.html">
                            <li>NOS MISSIONS</li>
                        </a>
                        <a href="./agence/mot_du_directeur.html">
                            <li>MOT DU DIRECTEUR</li>
                        </a>
                        <a href="./agence/moyens.html">
                            <li>MOYENS</li>
                        </a>
                        <a href="./agence/organisation.html">
                            <li>ORGANISATION</li>
                        </a>
                    </ul>
                </li>
                <li>CLIENT ▼
                    <ul class="sub-menu">
                        <a href="./client/devis.html">
                            <li>DEVIS</li>
                        </a>
                        <a href="./client/engagements.html">
                            <li>ENGAGEMENTS</li>
                        </a>
                        <a href="./client/prestations.html">
                            <li>PRESTATIONS</li>
                        </a>
                    </ul>
                </li>
                <li>ACTIVITES ▼
                    <ul class="sub-menu">
                        <a href="./activites/produits.html">
                            <li>PRODUITS</li>
                        </a>
                        <a href="./activites/projets.html">
                            <li>PROJETS</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./cartographie/index.html">CARTOGRAPHIE ↗</a>
                </li>
                <li>BIBLIOGRAPHIE ▼
                    <ul class="sub-menu">
                        <a href="./bibliographie/documentation.html">
                            <li>DOCUMENTATION</li>
                        </a>
                        <a href="./bibliographie/metadonnees.html">
                            <li>METADONNEES</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./contact/index.html"></a>
                    CONTACTEZ-NOUS ↗
                    </a>
                </li>
            </ul>
        </nav>
        <section class="langue">
            <a href=""> <img src="./../assets/image/menu/drapeau_france.png" alt="drapeau_france"></a>
            <a href=""> <img src="./../assets/image/menu/drapeau_algerie.png" alt="drapeau_algerie"></a>
        </section>
    </header>

    <section class="page_intro">

        
        <img src="../assets/image/accueil/page_intro/presentation logo.png" alt="logo_entoure" id="presentation_logo">
        <h1>
            Agence Nationale des Ressources Hydriques
        </h1>
        <div class="barre_jaune"></div>
        <h2 class="bon">
            L’agence nationale des ressources hydriques est un établissement
            public à caractère commercial, à vocation scientifique et technique.
        </h2>

        <img src="../assets/image/accueil/page_intro/descend_page_intro.png" alt="image pour descendre"
            id="presentation_descendre" onclick="scrollPageBelowPresentation();">


    </section>

    <main>
        <section class="nos_missions">
            <div>
                <h2>
                    Nos Missions
                </h2>
                <a href="./agence/missions.html">VOIR PLUS</a>
            </div>
            <p>
                ANRH a pour mission de prospecter, de veiller et mettre à jour l’inventaire et l’évaluation des
                ressources en eau et des superficies irrigables. De préserver et protéger ces ressources contre toute
                forme de dégradation.
                Pour réaliser ses missions, l’ANRH développe des outils de mesure, de prospection, d’analyse et
                d’expérimentation.
                Elle effectue la collecte, le traitement et la mise à jour des données relatives aux ressources en eau
                et en sol.
            </p>
        </section>
        <img src="./../assets/image/accueil/decoration_mission.svg" alt="" class="decoration_mission">

        <div class="titre">
            <h1>
                Services
            </h1>
            <div class="barre_jaune_titre"></div>
        </div>
        <section class="services">
            <a href="./page_solo/protocoles.html" class="presentation_services">
                <img src="./../assets/image/accueil/services/protocoles_base.png" alt="">
                <h2>
                    Protocoles
                </h2>
                <p>
                    Explication de nos protocoles en vigueur
                </p>
            </a>
            <a href="./client/devis.html" class="presentation_services">
                <img src="./../assets/image/accueil/services/devis_base.png" alt="">
                <h2>
                    Devis
                </h2>
                <p>
                    Simuler un devis de nos services
                </p>
            </a>
            <a href="./page_solo/appel_offre.html" class="presentation_services">
                <img src="./../assets/image/accueil/services/appel_doffre_base.png" alt="">
                <h2>
                    Appel d'offres
                </h2>
                <p>
                    Consulter nos appels d'offre
                </p>
            </a>
            <a href="./client/prestations.html" class="presentation_services">
                <img src="./../assets/image/accueil/services/que_faisons_nous_base.png" alt="">
                <h2>
                    Que faisons nous
                </h2>
                <p>
                    Nos prestations en format téléchargeable
                </p>
            </a>
        </section>

        <!-- ACTUALITES -->
        <img src="./../assets/image/accueil/actualites/vague_degrade.svg" alt="image de vague degrade" class="vague" id="en_haut">
        <section class="actualites">
            <div class="titre">
                <h1>
                    Nos Actualités
                </h1>
                <div class="barre_jaune_titre"></div>
            </div>
            <section class="les_articles">
                <article>
                    <section class="article">
                        <img src="./../assets/image/accueil/actualites/news_1.png" alt="">
                        <h2>Les eaux souterraines: rendre l’invisible visible</h2>
                        <p>Lorem Ipsum is centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <a href="">Lire la suite →</a>
                    </section>
                </article>
                <article>
                    <section class="article">
                        <img src="./../assets/image/accueil/actualites/news_1.png" alt="">
                        <h2>Les eaux souterraines: rendre l’invisible visible</h2>
                        <p>Lorem Ipsum is centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <a href="">Lire la suite →</a>
                    </section>
                </article>
                <article>
                    <section class="article">
                        <img src="./../assets/image/accueil/actualites/news_1.png" alt="">
                        <h2>Les eaux souterraines: rendre l’invisible visible</h2>
                        <p>Lorem Ipsum is centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <a href="">Lire la suite →</a>
                    </section>
                </article>
            </section>

        </section>
        <img src="./../assets/image/accueil/actualites/vague_degrade.svg" alt="image de vague degrade retourné" class="vague" id="en_bas">


        <!-- DIRECTIONS -->
        <section class="directions">
            <div class="titre">
                <h1>
                    Nos Directions
                </h1>
                <div class="barre_jaune_titre"></div>
            </div>
            <div class="directions_image">
                <img src="" alt="">
            </div>
            <section class="les_boutons_info">
                <button class="bouton_info"> <strong>ANRH EST - CONSTANTINE</strong> </button>
            </section>
        </section>


        <!-- DOMAINE -->
        <div class="titre">
            <h1>
                Dans notre Domaine
            </h1>
            <div class="barre_jaune_titre"></div>
        </div>

        <!-- GALERIE -->
        <div class="titre">
            <h1>
                Galerie
            </h1>
            <div class="barre_jaune_titre"></div>
        </div>
    </main>

    <!-- <button>
        Clique-moi
    </button> -->
</body>

</html>