<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' '; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline' 'unsafe-eval';"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/common_sous_page.css">
    <link rel="shortcut icon" href="../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" type="image/x-icon">
    <script src="./../assets/script/base.js"></script>
    <title>ANRH</title>
</head>

<body>
    <header>
        <img src="../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" alt="logo ANRH" id="logo_ANRH">
        <nav class="menu_static">
            <ul class="menu">
                <li id="accueil">ACCUEIL ↗</li>
                <li>L'AGENCE ▼
                    <ul class="sub-menu">
                        <li id="historique">HISTORIQUE</li>
                        <li id="juridique">JURIDIQUE</li>
                        <li id="nos_missions">NOS MISSIONS</li>
                        <li id="mot_du_directeur">MOT DU DIRECTEUR</li>
                        <li id="moyens">MOYENS</li>
                        <li id="organisation">ORGANISATION</li>
                    </ul>
                </li>
                <li>CLIENT ▼
                    <ul class="sub-menu">
                        <li id="devis">DEVIS</li>
                        <li id="engagements">ENGAGEMENTS</li>
                        <li id="prestations">PRESTATIONS</li>
                    </ul>
                </li>
                <li>ACTIVITES ▼
                    <ul class="sub-menu">
                        <li id="produits">PRODUITS</li>
                        <li id="projets">PROJETS</li>
                    </ul>
                </li>
                <li id="cartographie">CARTOGRAPHIE ↗</li>
                <li>BIBLIOGRAPHIE ▼
                    <ul class="sub-menu">
                        <li id="documentation">DOCUMENTATION</li>
                        <li id="metadonnees">METADONNEES</li>
                    </ul>
                </li>
                <li id="contactez_nous">CONTACTEZ-NOUS ↗</li>
            </ul>
        </nav>
        <section class="langue">
            <a href=""> <img src="./../assets/image/menu/drapeau_france.png" alt="drapeau_france"></a>
            <a href=""> <img src="./../assets/image/menu/drapeau_algerie.png" alt="drapeau_algerie"></a>
        </section>
    </header>

    <ul class="menu_navigation">
    </ul>

    <div id="scrollUp">
        <img src="./../assets/image/fleche_remonter_page_blanc.png" alt="fleche vers le haut" />
    </div>

    <iframe id="eventContainer" scrolling="yes" frameborder="0" allowfullscreen="true" name="eframeAgence"
        src="./accueil.php"></iframe>

    <footer>
        <img src="./../assets/image/bosse_footer.svg" alt="">
        <section>
            <p>COPYRIGHT © 2022 AGENCE NATIONALE DES RESSOURCES HYDRIQUES. TOUS DROITS RÉSERVÉS</p>
        </section>
    </footer>

</body>
</html>