<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
    <link rel="stylesheet" href="../../assets/css/presentation_liste_avec_image.css">
</head>

<body>
    <section class="intro">
        <img src="./../../assets/image/agence/image_vector.png" alt="">
        <div>
            <h1>PRESTATIONS</h1>
            <div class="barre_jaune"></div>
        </div>

    </section>

    <main>
        <section class="presentation_avec_image">
            <img src="./../../assets/image/client/prestations/presta_analyse_eau_et_sol.png" alt="">

            <div>
                <h3>Analyse eau et sol</h3>
                <p>
                    Les laboratoires de l’ANRH offrent à leurs clientèles une multitude de services personnalisés pour
                    les analyses en eaux et sols.</p>

                <a href="./../../assets/fichier/prestations/Devis-des-prestations-Analyse-deau.pdf" target="_blank"><img src="./../../assets/image/client/fleche_telechargement.png" alt="">
                    <p>Tarifs Analyses Eau</p>
                </a>


                <a href="./../../assets/fichier/prestations/Tarifs-analyses-sols.pdf" target="_blank"><img src="./../../assets/image/client/fleche_telechargement.png" alt="">
                    <p>Tarifs Analyses Sol</p>
                </a>

            </div>

        </section>

        <div class="barre_jaune"></div>
        <section class="presentation_avec_image">
            <div>
                <h3>Acquisition de données</h3>
                <p>
                    Les laboratoires de l’ANRH offrent à leurs clientèles une multitude de services personnalisés pour
                    les analyses en eaux et sols.</p>

                <a href="./../../assets/fichier/prestations/Bon-de-commande-pour-attestation-dintemperie.pdf" target="_blank"><img src="./../../assets/image/client/fleche_telechargement.png" alt="">
                    <p>Attestation d’intempérie</p>
                </a>


                <a href="./../../assets/fichier/prestations/Bon-de-commande-pour-les-donnees-hydro-climato.pdf" target="_blank"><img src="./../../assets/image/client/fleche_telechargement.png" alt="">
                    <p>Données Hydro-climato</p>
                </a>

            </div>
            <img src="./../../assets/image/client/prestations/presta_acquisition_de_donnees.png" alt="">
        </section>

        <div class="barre_jaune"></div>
        <section class="presentation_avec_image">
            <img src="./../../assets/image/client/prestations/presta_etude_et_expertise.png" alt="">

            <div>
                <h3>Etude et expertise</h3>
                <p>
                    L’ANRH peut apporter assistance et conseil en matière d’étude et expertise dans le domaine des
                    ressources en eau et sol.</p>
                <a href="./../../assets/fichier/prestations/Bon-de-commande-pour-une-etude-hydrologique.pdf" target="_blank"><img src="./../../assets/image/client/fleche_telechargement.png" alt="">
                    <p>Etude Hydrologique</p>
                </a>
            </div>

        </section>

    </main>

    <footer>
        <p>COPYRIGHT © 2022 AGENCE NATIONALE DES RESSOURCES HYDRIQUES. TOUS DROITS RÉSERVÉS</p>
    </footer>

    <style>
        .presentation_avec_image a>img {
            width: 2vw;
            background-color: transparent;
        }

        .presentation_avec_image>div>a {
            display: flex;
            width: fit-content;
            justify-content: left;
            text-decoration: none;
            color: black;
            margin: 2vh auto;
            transition: 300ms;
        }

        .presentation_avec_image>div>a>p {
            margin-left: 2vw;
        }

        .presentation_avec_image>div>a:hover {
            font-size: 1.2em;
        }
    </style>
</body>

</html>