<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
</head>

<body>
    <section class="intro">
        <img src="./../../assets/image/agence/image_vector.png" alt="">
        <div>
            <h1>DOCUMENTATION</h1>
            <div class="barre_jaune"></div>
        </div>
    </section>
    
    <main>
        <embed src="./../../assets/fichier/engagements/La-procedure-de-facturation-des-etudes-realisees-par-lANRH.pdf" width="900" height="800" type="application/pdf"/>
    </main>
</body>

</html>