/*
    Ici tout les :
        -> width
        -> height
        -> margin
        -> padding
*/
/* ----------------------------------- accueil ----------------------------------- */
body {
    margin: 0%;
    padding: 0%;
}

header {
    width: 100vw;
    height: 3vh;
    margin: 0%;
}

header>section {
    width: 10%;
    margin: auto;
}

nav {
    margin: 0%;
}

nav.menu_static {
    width: 100vw;
    height: 7vh;
}

nav.menu_static>a>img {
    width: auto;
    height: 90%;
}


main {
    height: 100vh;
    margin-top: 0%;
    padding-top: 3%;
}

main>nav.bouton_eau {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

a.bouton {
    width: 8vw;
    height: 13vh;
    margin-top: 15vh;
}

a.bouton::before {
    width: 100%;
    height: 100%;
}

a.bouton>img {
    width: 60%;
    height: 60%;
}

a.bouton:hover>img {
    width: 80%;
    height: 80%;
}

/* menu */
.menu {
    width: 80%;
}

.menu>li {
    width: 10%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto
}

.sub-menu {
    padding: 0%;
}

.sub-menu li {
    width: 100%;
    /* padding: 8px 0; */
}