<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/menu.css">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
    <link rel="shortcut icon" href="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" type="image/x-icon">
    <script src="../../assets/script/sous_page.js"></script>
    <title>ANRH</title>
</head>

<section class="intro">
    <img src="./../../assets/image/agence/image_vector.png" alt="">
    <div>
        <h1>JURIDIQUE</h1>
        <div class="barre_jaune"></div>
    </div>
</section>
<main>
    <div>
        <h2>Protection et préservation des ressources en eau</h2>
        <ul>
            <li>Loi N° 05-07 du 28 avril 2005 relative aux hydrocarbures.</li>
            <li>
                Loi N° 05-12 du 04 août 2005 relative a l’eau, notamment titre III articles 30 à 53 (JORADP N° 60 du
                04-09- 2005).
            </li>
            <li>Loi N° 04-20 du 25 décembre 2004 relative à la prévention des risques majeurs et à la gestion des
                catastrophes dans le cadre du développement durable, Article 10, 24 et 25 prévention des
                inondations( JORADP N° 84 du 29-12-2004 ).</li>
            <li>Loi N° 03-10 du 19 juillet 2003 relative à la protection de l’environnement dans le cadre du
                développement durable (JORADP N°43 du 20-07-2003 ) notamment les articles 48 à 51 et article 100.
            </li>
            <li>Ordonnance N°03-12 du 26 août 2003 relative à l’obligation d’assurance des catastrophes naturelles
                et à l’indemnisation des victimes.</li>
            <li>Loi N° 02-02 du 05 février 2002 relative à la protection et à la valorisation du littoral, notamment
                articles 22,27 et 28.</li>
            <li>Loi N° 01-19 du 12 décembre 2001 relative à la gestion, au contrôle et à l’élimination des déchets
                notamment articles 11 et 20.</li>
            <li>Loi N° 01-10 du 03 juillet 2001 portant loi minière notamment articles 01-28-35-178 (JORADP N° 35 du
                04-07-2001).</li>
        </ul>
    </div>
    <div>
        <h2>Qualité des eaux</h2>
        <ul>
            <li>Décret exécutif N° 11-136 du 28 mars 2011 relatif aux périmètres de lutte contre l’érosion hydrique(
                JORADP n°20 du 30-03-2011).</li>
            <li> Décret exécutif N° 11-125 du 22 mars 2011 relatif à la qualité de l’eau de consommation humaine(
                JORADP n°18 du 23-03-2011).</li>
            <li>Décret exécutif N° 10-318 du 21 Décembre 2010 fixant les conditions dans lesquelles sont effectuées
                les prélèvement et les analyses d’échantillons des ressources en eau souterraine et superficielle .
                ( JORADP n°77 du 22-12-2011).</li>
            <li>Décret exécutif n° 10-88 du 10 mars 2010 fixant les conditions et les modalités d’octroi
                d’autorisation des d’effluents non toxiques dans le domaine public hydraulique (JORADP n° 17 du
                14-03-2010).</li>
            <li>Décret exécutif n° 10-73 du 06 février 2010 relatif à la protection quantitative des nappes
                aquifères (JORADP n° 11 du 10-02-2010).</li>
            <li>Décret exécutif n° 10-26 du 12 janvier 2010 fixant les méthodes et les produits chimiques utilisés
                pour le traitement et la correction des eaux de consommation humaine (JORADP n° 04 du 17-01-20101).
            </li>
            <li>Décret exécutif n° 10-23 du 12 janvier 2010 fixant les caractéristiques techniques des systèmes
                d’épuration des eaux usées (JORADP n° 04 du 17-01-2010).</li>
            <li>Décret exécutif n° 09-414 du 15 décembre 2009 fixant la nature, la périodicité et les méthodes
                d’analyse de l’eau de consommation humaine (JORADP n° 75 du 20-12-2009).</li>
            <li>Décret exécutif n° 09-399 du 29 novembre 2009 définissant les instruments de prévision des crues
                (JORADP n° 71 du 02-12-2009).</li>
            <li>Décret exécutif n° 09-392 du 24 novembre 2009 fixant les modalités de suivi médical des personnes
                exerçant au niveau des ouvrages et installations d’exploitation d’un service public de l’eau (JORADP
                n° 70 du 29-11-2009).</li>
            <li>Décret exécutif n° 09-2009 du 11 juin 2009 fixant les modalités d’octroi de l’autorisation de
                déversement des eaux usées autres que domestiques dans un réseau public d’assainissement ou dans une
                station d’épuration (JORADP n° 36 du 21-06-2009.</li>
            <li>Décret exécutif N° 07-399 du 23 décembre 2007relaftif aux périmètres de protection qualitative des
                ressource en eau JORADP N° 80 du 26-12-2007.</li>
            <li>Décret exécutif N° 07-149 du 20 mai 2007 fixant les modalités de concession d’utilisation des eaux
                usées à des fins d’irrigation ainsi que le cahier des charges – type y afférent (JORADP N° 35 du
                23-05-2007).</li>
            <li>Arrêté interministériel du 03 mars 1998 portant création du comité inter wilayas de lutte contre la
                maladie à transmission hydrique du bassin hydraulique de l’Oued chlef (JORADP N° 23 du 19-04-1998).
            </li>
            <li>Arrêté interministériel du 22 janvier 2006 fixant les propositions d’éléments contenus dans les eaux
                minérales naturelles et les eaux de source ainsi que les conditions de leur traitement ou les
                adjonctions autorisées, modifié par arrêté interministériel du 23 février 2008 (JORADP n° 27 du 28
                mai 2008).</li>
            <li>Arrêté interministériel du 10 janvier 2010 fixant la liste des oueds et des traçons d’oueds frappés
                d’interdiction d’extraction de matériaux alluvionnaires (JORADP n° 29 du 02 mai 2010).</li>
        </ul>
    </div>
    <div>
        <h2>Domaine public hydraulique</h2>
        <ul>
            <li>Décret exécutif N°11-394 du 24 novembre 2011 fixant les règles en matière de contrôle technique des
                ouvrages et installations hydrauliques (JORADP N°65 du 30-11-2011).</li>
            <li>Décret exécutif N° 10-318 du 21 Décembre 2010 fixant les modalités d’action de la concession
                d’utilisation des ressources en eau dans les systèmes aquifères fassiles ou faiblement
                renouvelables, ainsi que le cahier des charges y afférent. (JORADP n°77 du 22-12-2011).</li>
            <li>Décret exécutif n° 10-73 du 06 février 2010 relatif à la protection quantitative des nappes
                aquifères (JORADP n° 11 du 10-02-2010).</li>
            <li>Loi N° 90-30 du 1 er décembre 1990 portant Loi domaniale, notamment les articles 15,16 et 74 à 77.
            </li>
            <li>Arrêté du ministre des ressources en eau du 15 octobre 2009 portant définition des documents
                techniques requis pour la réalisation de chaque type d’ouvrage ou installation d’utilisation des
                ressources en eau.</li>
        </ul>
    </div>
    <div>
        <h2>Instruments institutionnels de la planification et de la gestion intégrée des ressources en eau</h2>
        <ul>
            <li>Décret exécutif n° 10-01 du4 janvier 2010 relatif au plan directeur d’aménagement des ressources en
                eau et au plan national de l’eau (JORADP n° 01 du 06-01-2010).</li>
            <li>Décret exécutif N ° 05 – 443 du 14 novembre 2005 fixant les modalités de cordination, le champ
                d’application et le contenu des schémas-directeurs sectoriels des grandes infrastructures et des
                services collectifs d’intérêt national anisi que les règles de procédure qui leur sont applicables
                (JORADP N°75 du 20-11-2005) modifié par Décret exécutif N° 07 – 314 du 10 octobre 2007 (JORADP N° 66
                du 21-10-2007 ).</li>
        </ul>
    </div>
    <div>
        <h2>Réglementations relatives aux eaux thermales et minérales</h2>
        <ul>
            <li>Loi N ° 05-12 du 4 août 2005 relative à l’eau Articles 76 à 78 et 83 (eaux thermales) (JORADP N ° 60
                du 04-09-2005).</li>
            <li>Loi N ° 05-12 du 4 août 2005 relative à l’eau Articles 76 à 78 et 83 (eaux minérales et eaux de
                source) (JORADP N ° 60 du 04-09-2005).</li>
            <li>Décret exécutif N ° 04-196 du 15 juillet 2004 relatif à l’exploitation et la protection des eaux
                minérales naturelles et des eaux de source (JORADP N °45 du 18-07-2004).</li>
            <li>Décret exécutif N ° 94-41 du 29 janvier 1994 portant définition des eaux thermales et réglementant
                leur protection et leur exploitation</li>
            <li>Arrêté interministériel du 22 janvier 2006 fixant les proportions d’éléments contenus dans les eaux
                minérales naturelles et les eaux de sources ainsi que les conditions de leur traitement ou les
                adjonctions autorisés,(JORADP N °27 du 26-04-2006) Modifié par arrêté interministériel du 23 février
                2008 (JORADP n° 27 du 28 mai 2008).</li>
            <li>Arrêté de Mr. le ministre des ressources en eau du 18 janvier 2006 fixant la liste des laboratoires
                effectuant de la qualité des eaux minérales et des eaux de source (JORADP N °12 du 01-03-2006).</li>
        </ul>
    </div>
    <div>
        <h2>Réglementations sur l’occupation des sols</h2>
        <ul>
            <li> Vu le décret exécutif n° 91-178 du 28 mai 1991 fixant les procédures d’élaboration et d’approbation
                des plans d’occupation des sols ainsi que le contenu des documents y afférents.</li>
            <li>Loi n° 03-10 du 19 Joumada El Oula 1424 correspondant au 19 juillet 2003 relative à la protection de
                l’environnement dans le cadre du développement durable. Dans son article 3— La présente loi se fonde
                sur les principes généraux suivants : (….le principe de non-dégradation des ressources naturelles,
                selon lequel il est évité de porter atteinte aux ressources naturelles telles que l’eau, l’air, les
                sols et sous-sols qui, en tout état de cause, font partie intégrante du processus de développement
                et ne doivent pas être prises en considération isolément pour la réalisation d’un développement
                durable).</li>
            <li>Le Plan d’occupation des sols, ou P.O.S. est un instrument juridique réglementaire de gestion
                urbaine et communale. Il revêt un .caractère obligatoire pour la commune qui l’initie dans le but de
                fixer des règles spécifiques pour l’urbanisation de parties ou de la totalité de son territoire et
                la composition de leur cadre bâti. Contrairement au P.D.A.U. , qui est un plan directeur, le P.O.S.
                est un plan de détail dont les documents graphiques sont établis, selon leur nature (voir le
                paragraphe consacré aux documents graphiques), au 1/2000′, 1/1000` ou 1/500`.</li>
        </ul>
    </div>
    <div>
        <h2>Réglementations particulières</h2>
        <ul>
            <li>Arrêté du ministre des ressources en eau du 22 janvier 2008 portant approbation de la nomenclature
                des activités d’études et d’ingénierie du secteur des ressources en eau soumises à agrément (JORADP
                N °16 du 26-03-2008).</li>
            <li>Décret exécutif N ° 93-289 du 28 novembre 1993 portant obligation pour toutes les entreprises
                intervenant dans les cadre de la réalisation des marchés publics du bâtiment, des travaux publics et
                de l’hydraulique, d’être titulaires du certificat de qualification et de classification
                professionnelles. Modifié et complété par Décret executif N ° 05-114 du 07 avril 2005(JORADP N ° 26
                du 10-04-2005).</li>
            <li>Décret exécutif n° 15-19 du 4 Rabie Ethani 1436 correspondant au 25 janvier 2015 fixant les
                modalités d’instruction et de délivrance des actes d’urbanisme.</li>
        </ul>
    </div>
    <div>
        <h2>Le graphe sur la réglementation sur les eaux et sols</h2>
        <img src="" alt="">
        <ul>
            <li>La gestion optimale des ressources en eau est basée sur une réglementation fondamentale, certaines
                lois en vigueur notamment celles relatives à qualité, la protection des ressources en eau et sol et
                à la lutte contre la pollution.</li>
            <li>Ce diagramme ne permet de donner qu’une vision très simplifi ié de l’évolution de l’environnement
                juridique (lois, décret, arrêté…) à partir des années 2000.. Sachant que ce cadre juridique globale
                à été entre epris depuis 1962 (Loi n°62-157). Pareillemment, cette illustration graphique ne
                concerne que la réglementation algérienne sur les ressources en eau et sol en liaison avec les
                missions de l’ANRH.</li>
        </ul>
    </div>
</main>