<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/menu.css">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
    <link rel="shortcut icon" href="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" type="image/x-icon">
    <script src="../../assets/script/sous_page.js"></script>
    <title>ANRH</title>
</head>

<body>
    <header id="header_changeant">
        <a href="./../accueil.html"><img src="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png"
                alt="logo ANRH" id="logo_ANRH"></a>
        <nav class="menu_static">
            <ul class="menu">
                <li><a href="./../accueil.html">ACCUEIL</a>
                </li>
                <li>L'AGENCE ▼
                    <ul class="sub-menu">
                        <a href="./../agence/historique.html">
                            <li>HISTORIQUE</li>
                        </a>
                        <a href="./../agence/juridique.html">
                            <li>JURIDIQUE</li>
                        </a>
                        <a href="./../agence/missions.html">
                            <li>NOS MISSIONS</li>
                        </a>
                        <a href="./../agence/mot_du_directeur.html">
                            <li>MOT DU DIRECTEUR</li>
                        </a>
                        <a href="./../agence/moyens.html">
                            <li>MOYENS</li>
                        </a>
                        <a href="./../agence/organisation.html">
                            <li>ORGANISATION</li>
                        </a>
                    </ul>
                </li>
                <li>CLIENT ▼
                    <ul class="sub-menu">
                        <a href="./../client/devis.html">
                            <li>DEVIS</li>
                        </a>
                        <a href="./../client/engagements.html">
                            <li>ENGAGEMENTS</li>
                        </a>
                        <a href="./../client/prestations.html">
                            <li>PRESTATIONS</li>
                        </a>
                    </ul>
                </li>
                <li>ACTIVITES ▼
                    <ul class="sub-menu">
                        <a href="./../activites/produits.html">
                            <li>PRODUITS</li>
                        </a>
                        <a href="./../activites/projets.html">
                            <li>PROJETS</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./cartographie/index.html">CARTOGRAPHIE ↗</a>
                </li>
                <li>BIBLIOGRAPHIE ▼
                    <ul class="sub-menu">
                        <a href="./../bibliographie/documentation.html">
                            <li>DOCUMENTATION</li>
                        </a>
                        <a href="./../bibliographie/metadonnees.html">
                            <li>METADONNEES</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./../contact/index.html"></a>
                    CONTACTEZ-NOUS ↗
                    </a>
                </li>
            </ul>
        </nav>
        <section class="langue">
            <a href=""> <img src="./../../assets/image/menu/drapeau_france.png" alt="drapeau_france"></a>
            <a href=""> <img src="./../../assets/image/menu/drapeau_algerie.png" alt="drapeau_algerie"></a>
        </section>
    </header>

    <nav class="menu_navigation">
    </nav>

    <div id="scrollUp">
        <img src="./../../assets/image/fleche_remonter_page.png" />
    </div>

    <section class="intro">
        <img src="./../../assets/image/agence/image_vector.png" alt="">
    </section>
    <main>
        <p>
            L’ANRH a pour mission de préserver et protéger ces ressources contre toute forme de dégradation. Elle effectue
            aussi la collecte, le traitement et la mise à jour des informations relatives aux ressources en eau et en sol.
        </p>
        <h2>
            Les missions de L'ANRH sont les suivantes :
        </h2>
        <div class="sous_conteneur">
            Effectuer toutes prospections, analyses et études hydrologiques, hydrogéologiques et pédologiques.
            <ul>
                <li>
                    Etablir l’inventaire des ressources en eau souterraines ainsi que les cartes thématiques liées à
                    l’hydrogéologie et assurer la conception, l’installation et la gestion des réseaux de surveillance des
                    aquifères.
                </li>
                <li>
                    Etablir l’inventaire et la cartographie des sols destinés à être mis en valeur par l’irrigation et le
                    drainage et assurer le suivi de leur évolution.
                </li>
            </ul>
        </div>
        <div class="sous_conteneur">
            Mener des actions de recherche et de développement technologique en lien avec son domaine d’intervention de
            l’agence. <br>
            Elaborer toutes études et projets de recherche appliquée portant notamment sur les phénomènes extrêmes tels que
            les sécheresses, les crues et les inondations en lien avec les expertises développées sur les changements
            climatiques et initier, à ce titre, toutes actions de partenariat avec d’autres établissements, unités et
            centres de recherche.
        </div>
        <div class="sous_conteneur">
            Assurer des prestations d’études, d’expertises, de suivi d’exécution et d’analyses de laboratoires pour le
            compte des collectivités locales, des entreprises industrielles et de services, des exploitants agricoles et
            aquacoles et des tiers portant sur la mobilisation et les paramètres de traitement, d’utilisation et de
            protection des ressources en eau et en sols correspondant à leurs besoins particuliers.
    
            <ul>
                <li>
                    Accompagner les utilisateurs publics et privés dans leurs démarches d’exploitation des ressources en eau
                    et en sol.
                </li>
            </ul>
        </div>
        <div class="sous_conteneur">
            Fournir à toute personne qui en fait la demande, toutes données et informations relatives aux ressources en eau
            et en sols irrigables nécessaires à leurs activités, conformément à la législation et à la réglementation en
            vigueur.
            <ul>
                <li>
                    Développer et mettre à jour les bases de données relatives aux ressources en eau et en sols et assurer
                    leur intégration dans le système sectoriel d’information dont l’accessibilité est encadrée par des
                    règles spécifiques fixées par l’administration de tutelle.
    
                </li>
            </ul>
        </div>
        <div class="sous_conteneur">
            Assurer toutes autres missions liées à l’instruction des dossiers d’autorisations et de concessions
            d’utilisation des ressources en eau.
            <ul>
                <li>
                    Participer à la préservation de la ressource en eau, à la rationalisation de son utilisation en lien
                    avec les priorités du secteur de l’eau.
                </li>
            </ul>
    
        </div>
    </main>
   
</body>

</html>