<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/menu.css">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
    <link rel="shortcut icon" href="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png" type="image/x-icon">
    <script src="../../assets/script/sous_page.js"></script>
    <title>ANRH</title>
</head>

<body>
    <header id="header_changeant">
        <a href="./../accueil.html"><img src="../../assets/image/logo_anrh_sans_bord_avec_text_blanc.png"
                alt="logo ANRH" id="logo_ANRH"></a>
        <nav class="menu_static">
            <ul class="menu">
                <li><a href="./../accueil.html">ACCUEIL</a>
                </li>
                <li>L'AGENCE ▼
                    <ul class="sub-menu">
                        <a href="./../agence/historique.html">
                            <li>HISTORIQUE</li>
                        </a>
                        <a href="./../agence/juridique.html">
                            <li>JURIDIQUE</li>
                        </a>
                        <a href="./../agence/missions.html">
                            <li>NOS MISSIONS</li>
                        </a>
                        <a href="./../agence/mot_du_directeur.html">
                            <li>MOT DU DIRECTEUR</li>
                        </a>
                        <a href="./../agence/moyens.html">
                            <li>MOYENS</li>
                        </a>
                        <a href="./../agence/organisation.html">
                            <li>ORGANISATION</li>
                        </a>
                    </ul>
                </li>
                <li>CLIENT ▼
                    <ul class="sub-menu">
                        <a href="./../client/devis.html">
                            <li>DEVIS</li>
                        </a>
                        <a href="./../client/engagements.html">
                            <li>ENGAGEMENTS</li>
                        </a>
                        <a href="./../client/prestations.html">
                            <li>PRESTATIONS</li>
                        </a>
                    </ul>
                </li>
                <li>ACTIVITES ▼
                    <ul class="sub-menu">
                        <a href="./../activites/produits.html">
                            <li>PRODUITS</li>
                        </a>
                        <a href="./../activites/projets.html">
                            <li>PROJETS</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./cartographie/index.html">CARTOGRAPHIE ↗</a>
                </li>
                <li>BIBLIOGRAPHIE ▼
                    <ul class="sub-menu">
                        <a href="./../bibliographie/documentation.html">
                            <li>DOCUMENTATION</li>
                        </a>
                        <a href="./../bibliographie/metadonnees.html">
                            <li>METADONNEES</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <a href="./../contact/index.html"></a>
                    CONTACTEZ-NOUS ↗
                    </a>
                </li>
            </ul>
        </nav>
        <section class="langue">
            <a href=""> <img src="./../../assets/image/menu/drapeau_france.png" alt="drapeau_france"></a>
            <a href=""> <img src="./../../assets/image/menu/drapeau_algerie.png" alt="drapeau_algerie"></a>
        </section>
    </header>

    <nav class="menu_navigation">
    </nav>

    <div id="scrollUp">
        <img src="./../../assets/image/fleche_remonter_page.png" />
    </div>

    <section class="intro">
        <img src="./../../assets/image/agence/image_vector.png" alt="">
    </section>

    <main>
        <img src="./../../assets/image/agence/directeur_ANRH.jpg" alt="">
        <p>
            Depuis plus de 60 ans, l’Agence nationale des ressources hydriques déploie tous ses efforts pour inventorier
            et valoriser les ressources en eau et en sol à l’échelle nationale, ce qui lui a permis de posséder tant de
            connaissances et de compétences. Elle est devenue un phare scientifique et informationnel dans le domaine
            des ressources en eau. <br>

            L’avantage de l’ANRH se reflète dans ses archives, qui remontent à plusieurs décennies d’études et de
            recherches centrées sur la ressource en eau et les moyens de la préserver et de la développer. Ce patrimoine
            scientifique, qui est l’infrastructure de base pour une gestion intégrée et durable des ressources en eau.
            <br>

            L’ANRH a été et s’efforce toujours de développer ses services en fonction de suivre le rythme des évolutions
            technologiques modernes, en modernisant sa structure et adaptant son secteur aux exigences de la révolution
            numérique moderne; Dans ce but l’Agence vous ouvre ses portes à travers ce nouveau site pour partager avec
            vous ses expériences de connaissance, les systèmes géographiques et d’autres informations ainsi que ses
            multiples services afin de répondre à vos besoins de la manière la plus simple et la plus rapide possible.
            <br>

            Nous espérons que ce site Web, et les autres réseaux sociaux de l’agence, contribuera à fournir des canaux
            de communication appropriés qui vous permettront d’obtenir des informations intégrées et de prendre
            connaissance des services offerts par l’Agence. <br>

            Et c’est une occasion aussi pour connaître vos avis et diverses suggestions qui nous aideraient à développer
            nos services et à améliorer la qualité des informations qui vous sont fournies par le biais de cette
            plateforme. <br>

            Je vous souhaite une agréable et utile navigation. <br>

            Directeur Général de l’ANRH <br>

            M. OGGAD EL MAHDI

        </p>
    </main>

</body>

</html>