<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
</head>



<section class="intro">
    <img src="./../../assets/image/agence/image_vector.png" alt="">
    <div>
        <h1>MOYENS</h1>
        <div class="barre_jaune"></div>
    </div>
    <h1>MOYENS</h1>
</section>

<main>
    <section class="rh">
        <h2 class="sous_menu_gauche">
            Ressources Humaines
        </h2>
        <article class="indentation">
            <p>L’agence national des ressources hydrique Possède actuellement un effectif de 725 collaborateurs
                (fonctionnaires et contractuels) dont plus de 200 ingénieurs et techniciens sont répartis sur 07
                directions
                régionales et 31 secteurs, ses équipes interviennent sur toute l’étendue du territoire national, y
                compris
                dans les zones les plus reculées. L’Agence mise en place de 3 niveaux de gestion :</p>
            <ul>
                <li>
                    Centrale : direction générale.
                </li>
                <li> Régionale :07 directions régionales.</li>
                <li> Locale : 31 unités territoriales correspondant à 31 wilayas.</li>
            </ul>
            <p>La gestion de la ressource humaine à l’ANRH se base sur la recherche et le recrutement des
                compétences
                dont
                elle a besoin pour réaliser ses projets et poursuivre son développement, l’administration de
                l’agence
                met en
                œuvre la politique de gestion et de promotion du personnel selon les points suivants :</p>

            <h3>
                En terme de secteur d'activités
            </h3>
            <ul>
                <li>En termes de répartition de la ressource humaine par secteur d’activité, très diversifiée
                    l’agence
                    emploie différents profils pour ces structures tel que :</li>
                <ul>
                    <li>Cœur de métiers : géologues, géotechniciens, hydrogéologues, pédologues, chimistes,
                        biologiste,
                        hydrauliciens, géophysiciens.</li>
                    <li>Métiers soutiens : Ressources Humaines, Finance et Comptabilité communication, informatique.
                    </li>
                </ul>
            </ul>

            <h3>En terme de compétences</h3>
            <ul>
                <li>Valoriser et motiver les compétences à travers: </li>
                <ul>
                    <li>Un programme de recrutement et de formation avec définition plus précise des postes et des
                        profils, pour la reconstitution et le renforcement de ses capacités d’études.</li>
                    <li>La promotion des jeunes aux postes de responsabilité (Développement des carrières)</li>
                    <li>S’appuyer sur des contrats de travail à durée indéterminée pour (plus de 60 ans de
                        l’effectif de
                        l’agence), et cela afin d’assurer la stabilité de l’emploi.</li>
                </ul>
            </ul>
        </article>
    </section>

    <section class="rm">
        <h2 class="sous_menu_gauche">
            Ressources Matérielles
        </h2>
        <article class="indentation">
            <h3>
                L’ANRH est dotée d’un conseil d’orientation et d’un conseil scientifique, est dirigée par un
                directeur
                général.
            </h3>
            <div class="indentation">
                <p>L’agence est dotée d’infrastructures opérationnelles, et dispose d’un important équipement et
                    matériel
                    appropriés aux différentes missions qu’elle doit réaliser. Ceci, lui permettra de répondre à
                    toutes
                    les
                    demandes exprimées par ses structures pour assurer une bonne conduite des travaux de terrains et
                    études
                    sur plusieurs projets de manière simultanée et dans les divers directions et secteurs de l’ANRH.
                    Ces
                    ressources matérielles sont composées de :</p>
            </div>

            <h3>Stations de mesures et observations appelées à être optimisées et modernisées</h3>
            <ul>
                <li>De nombreuses stations hydro-climatologiques ; 800 postes pluviométriques, 200 pluviographes, 60
                    stations climatologiques et 200 stations hydrométriques.</li>
                <li>Un réseau national d’observation piézométrique (plus de 1300 points d’observations), de la
                    surveillance et suivie de 35 nappes d’eau. Réalisation de deux campagnes de mesures
                    piézométriques
                    (hautes eaux et basses eaux) et parfois la fréquence peut être mensuelle.</li>
                <li>Un réseau d’observation de qualité des eaux constitué de 619 stations dont: 109 stations pour
                    les
                    eaux superficielles et 510 pour les eaux souterraines (en cours). Ces observations sont
                    effectuées
                    selon un plan de surveillance des ressources en eau superficielles qui prévoit des prélèvements
                    mensuels.</li>
            </ul>

            <h3>Opération d’inventaires sur les sources d'approvisionnement en eau (tout type de points d’eau)</h3>
            <div class="indentation">
                <p>Ces inventaires exhaustifs sont des opérations qui permettent de collecter le maximum
                    d’informations
                    (Identification et Localisation, débit d’exploitation, usage, état, qualité de l’eau, etc.)</p>
            </div>

            <h3>Des laboratoires performants</h3>
            <div class="indentation">
                <p>Ces laboratoires répondent à tous les besoins standards et spécifiques de ses clients dans le
                    domaine
                    du contrôle des eaux et sols et qui sont dotés d’appareils et d’instruments qui effectuent toute
                    les
                    gammes d’analyses nécessaires et peuvent également guider dans le respect des réglementations en
                    vigueur.</p>
                <ul>
                    <li>Analyses Physico-chimiques de l’eau</li>
                    <li>Analyses bactériologiques de l’eau</li>
                    <li>Analyse des substances indésirables</li>
                    <li>Analyse des sols</li>
                </ul>
                <p>La fréquence de prélèvement pour les analyses physico-chimiques est d’une campagne par trimestre
                    pour
                    chaque station. Ce programme se traduit par des actions d’amélioration des moyens d’analyse et
                    d’interprétation afin d’affiner les connaissances sur les facteurs de pollution pour une
                    meilleure
                    préservation de la ressource.</p>
            </div>

            <h3>Un ensemble d'accessoires et outils utiles aux activités de terrain</h3>
            <div class="indentation">
                Elle possède un équipement efficace pour toutes les thématiques traitées par ses services ; des
                sondes,
                tarière et les outillages de pédologie, des valises laboratoires portales, glacière et des GPS pour
                orientation sur terrain.
            </div>

            <h3>Un important fond documentaire</h3>
            <div class="indentation">
                <p>Un important fond documentaire qui couvre les domaines suivants : la géographie, l’aménagement,
                    le
                    développement, l’environnement, la pédologie, la chimie des eaux et la chimie hydraulique. Il
                    est
                    accessible à toutes personnes recherchant des informations, présentations, articles ou documents
                    techniques concernant leur activité. Le fond documentaire de l’Agence est constitué:</p>
                <ul>
                    <li>D’une riche collection d’ouvrages, livres et publications scientifiques y compris les thèses
                    </li>
                    <li>De nombreuses études, rapports, ou fiches de synthèse réalisées par les ingénieurs et
                        techniciens de l’ANRH</li>
                    <li>Des documents techniques : fiches descriptives d’ouvrages (hors publication)</li>
                    <li>Des revues scientifiques regroupant des informations spécialisées sur des thèmes précis et
                        constitués d’articles et travaux de recherche, nationale et internationale.</li>
                    <li>Une centaine de dossiers documentaires réalisés dans le cadre des activités de l’agence ou
                        en
                        partenariat avec l’agence (formations, colloques, séminaires; etc.) assez diversifiées.</li>
                </ul>
                <p>Ce fond documentaire fait l’objet d’un plan de classement spécifique et thématique; l’ensemble
                    des
                    références bibliographiques est disponible sur un catalogue informatisé au sein de l’agence. La
                    gestion de cet important fond documentaire est confiée à des professionnels de l’agence.</p>
                <p>L’ANRH dispose aussi d’une cartothèque et photothèque qui constituent des outils de travail
                    principaux pour l’agence; elles comportes des:</p>
                <ul>
                    <li>Cartes géologiques (anciennes éditions)</li>
                    <li>Cartes topographiques (anciennes et nouvelles éditions)</li>
                    <li>Cartes de ressources en eaux et sol (produits ANRH)</li>
                    <li>Photographies aériennes</li>
                    <li>Orthophotographies</li>
                </ul>
                <p>et Quelques scènes (images satellitaires).</p>

                <p> Comme n’importe quel document, une photo (vidéo), carte recèle d’informations majeures et
                    exploitables sur une durée, dans les différentes thématiques liées aux ressources en eau et sol
                    et
                    leur préservation.</p>
            </div>

        </article>
    </section>

</main>

<footer>
    <p>COPYRIGHT © 2022 AGENCE NATIONALE DES RESSOURCES HYDRIQUES. TOUS DROITS RÉSERVÉS</p>
</footer>