<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
</head>


<section class="intro">
    <img src="./../../assets/image/agence/image_vector.png" alt="">
    <div>
        <h1>ORGANISATION</h1>
        <div class="barre_jaune"></div>
    </div>
</section>

<main>
    <h2 class="sous_menu_gauche">Au niveau central</h2>
    <ul>
        <li>La direction de l’administration générale.</li>
        <li>Deux cellules fonctionnelles rattachées au directeur générale : </li>
        <ul>
            <li>Cellule de la communication.</li>
            <li>Cellule de l’audit et contrôle de gestion.</li>
        </ul>
        <li>La direction des ressources en eau et en sol.</li>
        <li>La direction des laboratoires, de la qualité et de l’informatique.</li>
    </ul>


    <h2 class="sous_menu_gauche">Au niveau régional</h2>
    <div class="indentation">
        <div class="sous_conteneur">
            <h3>Il existe (07) sept directions régionales :</h3>
            <ul>
                <li>La direction régionale centre (BLIDA).</li>
                <li>La direction régionale Est (Constantine).</li>
                <li>La direction régionale Ouest (Oran).</li>
                <li>La direction régionale Ouest (Oran).</li>
                <li>La direction régionale Sud-Ouest (Adrar).</li>
                <li>La direction régionale des hauts plateaux Est (Djelfa).</li>
                <li>La direction régionale des hauts plateaux Ouest (Saida).</li>
            </ul>
        </div>
        <div class="sous_conteneur">
            <h3>Elles sont chargées de :</h3>
            <ul>
                <li>Installer, d’exploiter et d’entretenir le réseau hydro climatologique.</li>
                <li>Procéder à travers les unités territoriales hydrologique a la ccollecte au dépouillement et la
                    vérification des données.</li>
                <li>Gérer les réseaux de surveillance des eaux souterraines et superficielles.</li>
                <li>Mener les études au niveau régionale de l’inventaire des ressources en eau et en sol.</li>
                <li>Etudier les implantations de forages et d’assurer le suivi de la réalisation.</li>
                <li>Participer à l’élaboration des cartes hydrogéologiques et des ressources souterraines.</li>
                <li>Réaliser les analyses d’eau et de sol.</li>
                <li>Gérer le patrimoine de la direction régionale et des unités territoriales.</li>
            </ul>
        </div>
        <div class="sous_conteneur">
            <h3>Elles sont organisées de la façon suivante : </h3>
            <ul>
                <li>Le département des ressources en eau et en sols comporte 06 services.</li>
                <li>Le département des laboratoires des eaux et des sols comporte 02 services.</li>
                <li>Le département de l’administration et de l’informatique comporte 02 services.</li>
                <li>Les unités territoriales.</li>
            </ul>
        </div>
    </div>


    <h2 class="sous_menu_gauche">La direction de l’administration générale</h2>
    <div class="indentation">
        <div class="sous_conteneur">
            <h3>Missions de la direction :</h3>
            <ul>
                <li>Gérer les budgets de fonctionnement et d’équipement.</li>
                <li>Pouvoir les structures en moyens humains et matériels.</li>
                <li>Gérer et entretenir le patrimoine de L’agence.</li>
                <li>Approvisionner les services en matériel technique et de fonctionnement.</li>
            </ul>
        </div>
        <h3>La direction Comprends (03) trois département :</h3>
        <ol>
            <li>Le département des ressources humaines et des affaires juridiques.
                <ul>
                    <li>Le service de la gestion du personnel</li>
                    <li>Le service des affaires juridique et contentieux.</li>
                </ul>
            </li>
            <li>
                <p>Le département des finances et de la comptabilité.</p>
                <ul>
                    <li>Le service des finances et comptabilité.</li>
                    <li>Le service de la maîtrise d’ouvrage délégué et gestion des marches.</li>
                    <li>Le service commercial.</li>
                </ul>
            </li>
            <li>
                <p>Le département des moyens généraux et du patrimoine.</p>
                <ul>
                    <li>Le service achat et approvisionnement.</li>
                    <li>Le service du patrimoine.</li>
                </ul>
            </li>
        </ol>
    </div>


    <h2 class="sous_menu_gauche">La direction des ressources en eau et en sols</h2>
    <div class="indentation">
        <div class="sous_conteneur">
            <h3>Missions :</h3>
            <ul>
                <li>Concevoir et gérer le réseau hydro climatologique national, destiné à l’élaboration du bilan
                    hydrique national.</li>
                <li>Etudier, les phénomènes hydrologiques.</li>
                <li>Inventorier les ressources en eau, souterraines du pays et de tenir à jour le bilan des ressources
                    en eau souterraines ainsi que leur emploi.</li>
                <li>Concevoir, installer et gérer les réseaux de surveillance des nappes.</li>
                <li>Elaborer les cartes hydrogéologiques et des ressources souterraines.</li>
                <li>Veiller à la conservation qualitative et quantitative des ressources en eau souterraine.</li>
                <li>Réaliser l’inventaire des ressources en sols.</li>
                <li>Déterminer et de cartographier, les caractéristiques hydrodynamiques des sols.</li>
                <li>Etudier les bassins en eau des cultures ainsi que les paramètres d’irrigation et de drainage.</li>
            </ul>
        </div>
        <h3>La direction Comprends (03) trois département :</h3>
        <ol>
            <li>Le département des eaux souterraines.
                <ul>
                    <li>Le service de l’inventaire et du suivi de l’exploitation.</li>
                    <li>Le service cartographie et modélisation.</li>
                </ul>
            </li>
            <li>Le département des eaux superficielles.
                <ul>
                    <li>Le service des réseaux des mesures et de la modélisation.</li>
                    <li>Le service d’hydro-climatologie.</li>
                </ul>
            </li>
            <li>Le département de pédologie.
                <ul>
                    <li>Le service des ressources en sol et des études pédagogiques.</li>
                    <li>Le service de l’hydraulique agricole.</li>
                </ul>
            </li>
        </ol>
    </div>


    <h2 class="sous_menu_gauche">La direction des laboratoires, de la qualité et de l’informatique</h2>
    <div class="indentation">
        <div class="sous_conteneur">
            <h3>Missions :</h3>
            <ul>
                <li>Répondre aux besoins en matières d’analyses physico-chimiques, hydro biologique, bactériologique et
                    analyses des micropolluants organique et inorganique dans l’eau.</li>
                <li>Assurer les prestations analytique adaptées à la demande des secteurs de production industrielle
                    concernant les eaux minérales naturelles et les eaux de sources.</li>
                <li>Mettre en place un réseau de surveillance de la qualité des ressources en eaux superficielles et
                    souterraines.</li>
                <li>Créer des études d’eutrophisation des barrages et des ponts d’eau.</li>
                <li>Contribuer à la mise en place d’un système d’information sur la qualité des ressources en eau.</li>
                <li>Participer à l’élaboration des données technique nécessaires à la définition de normes de potabilité
                    et de rejet.</li>
                <li>Mettre en place le système de diffusion d’’information de l’’agence.</li>
                <li>Réaliser et gérer la banque de données relative aux ressources en eaux et en sols.</li>
                <li>Définir et mettre en œuvre le plan informatique.</li>
                <li>Assurer la maintenance et l’exploitation des équipements.</li>
                <li>Gérer le fonds documentaire.</li>
            </ul>
        </div>
        <h3>La direction Comprends (03) trois département :</h3>
        <ol>
            <li>Le département du laboratoire des eaux.
                <ul>
                    <li>Le service des analyses physico-chimique et des polluants.</li>
                    <li>Le service des études et surveillance de la qualité des eaux.</li>
                </ul>
            </li>
            <li>Le département du laboratoire des sols.
                <ul>
                    <li>Le service des analyses chimiques.</li>
                    <li>Le service des analyses physique.</li>
                </ul>
            </li>
            <li>Le département de l’informatique.
                <ul>
                    <li>Le service système, réseau et développement.</li>
                    <li>Le service base de données et statistique.</li>
                    <li>Le service de la documentation des archives.</li>
                </ul>
            </li>
        </ol>
    </div>
</main>

<footer>
    <p>COPYRIGHT © 2022 AGENCE NATIONALE DES RESSOURCES HYDRIQUES. TOUS DROITS RÉSERVÉS</p>
</footer>