<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/common_sous_page.css">
</head>

<body>
    <section class="intro">
        <img src="./../../assets/image/agence/image_vector.png" alt="">
    </section>
    <main>
        <h1>NON</h1>
    </main>
    <footer>
        <p>COPYRIGHT © 2022 AGENCE NATIONALE DES RESSOURCES HYDRIQUES. TOUS DROITS RÉSERVÉS</p>
    </footer>
</body>
</html>