/* @import url("./menu.css"); */

body {
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: 1em;
}

/* PAGE D'INTRO */

section.page_intro {
    color: white;
    text-align: center;
    width: 100vw;
    height: 100vh;
    top: 0px;

    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-image: url(../image/accueil/page_intro/riviere_fond.jpg);
}

section.page_intro>img#presentation_logo {
    margin: 7vh auto 2vh auto;
    width: 18vw;
    height: auto;
}

section.page_intro>img#presentation_descendre {
    margin: auto;
    width: 18vw;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 41vw;
}

section.page_intro>img#presentation_descendre:hover {
    cursor: pointer;
}

section.page_intro>h1 {
    font-size: 4em;
    width: 40vw;
    margin: 2vh auto;
}

div.barre_jaune {
    width: 50vw;
    height: 0.5vh;
    background-color: #FCCC10;
    margin: 3vh auto;
}

section.page_intro>h2 {
    width: 50vw;
    margin: 2vh auto;
    font-size: 1.6em;
}

/* MAIN */

main {
    width: 100vw;
}

.titre {
    margin: 5vh auto;
}

.titre>h1 {
    font-size: 3.5em;
    margin-bottom: 2vh;
    margin-top: 0vh ;
}
.titre>.barre_jaune_titre {
    width: 10vw;
    height: 0.2vh;
    background-color: #FCCC10;
    margin: auto;
}

/* NOS MISSIONS */

main>section.nos_missions {
    background: linear-gradient(white, #B0C4DE);
    height: 35vh;
    display: flex;
}

section.nos_missions>p {
    width: 45%;
    font-size: 1.6em;
    text-align: left;
}

section.nos_missions>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.nos_missions>div>h2 {
    font-size: 3.5em;
}

section.nos_missions>div>a {
    width: 25%;
    height: 15%;
    margin: auto;
    font-size: 1.6em;
    color: white;
    background-color: #B0C4DE;
    border: solid #B0C4DE;
    border-radius: 36px;
}


.decoration_mission {
    width: 100vw;
    z-index: -1;

    /* Pas nécessaire mais evite qu'il y ai un petit bout de blanc inutile*/
    position: relative;
    top: -1px;
    
}

/* Services */

.services {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 89vw;
}

.presentation_services {
    width: 15vw;
    padding: 1vh;
    margin: 1vw;
    text-align: left;
    border: 3px solid white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.5s;

    /* relatif au a*/
    text-decoration: none;
    color: black;
}

.presentation_services:hover {
    background-color: #B0C4DE;
    color: white;
}

.presentation_services>img {
    width:35%;
    height: 45%;
}


/* Actualites */

.actualites {
    background-color: #EEEEFF;
}

.actualites>.titre {
    margin-top: 0vh;
}

.les_articles {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.article {
    width: 17vw;
    padding: 1vw;
    background-color: #B0C4DE;
    border: #B0C4DE solid;
    border-radius: 25px;
    margin: 2vh 2vw;
}

.article>img {
    width: 100%;
}

.article>p {
    text-align: left;
}

.article>a {
    display: flow-root;
    height: 4vh;
    font-size: 3vh;
    color: #B0C4DE;
    background-color: white;
    border: white solid;
    border-radius: 25px;
    transition: 1s;
}

.article>a:hover {
    font-size: 3.2vh;
}

#en_haut {
    margin-top: 5vh;
    margin-bottom: -5px;
}
#en_bas {
    transform : rotate(180deg);
}

.vague {
    width: 100vw;
}


/* DIRECTIONS */

.directions>.directions_image {
    height: 50vh;
    width: 90vw;
    background-color: rgba(50, 46, 47, 0.8);

    margin: 2vh auto 10vh auto;
}

.les_boutons_info {
    display: flex;
    flex-wrap: wrap;

}

.bouton_info {
    width: 15vw;
    background-color: #B0C4DE;
    border-radius: 25px;
    cursor: pointer;
}

.bouton_info:hover {
    background-color: rgba(50, 46, 47, 0.8);
}

.bouton_info>p {
    display: none;
    text-align: left;
    margin-left: 10%;
}









a.bouton_services {
    border-radius: 50%;
    font-size: 1.3rem;
    font-family: arial, sans-serif;
    font-weight: 700;
    position: relative;
    color: rgba(168, 168, 168);
    z-index: 0;
    border: 2px solid black;
    backdrop-filter: blur(10px);
    /* ne marche pas sur les fond de couleur uni*/
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.bouton_services::before {
    content: '';
    position: absolute;
    top: 15vh;
    left: 0;
    background: #315bb8;
    border-radius: 50% 50% 0% 0%;
    z-index: -1;
    transition: all .7s;
}

a.bouton_services:hover::before {
    top: 0px;
    border-radius: 0;
}

/* test*/
@keyframes slidein {
    from {
        left: 0%;
    }

    to {
        left: -99.8%;
    }
}

@keyframes slidein2 {
    from {
        left: 99%;
    }

    to {
        left: 0%;
    }
}



@media screen and (max-width: 1200px) {
    body {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 1050px) {
    body {
        font-size: 0.7em;
    }
}
@media screen and (max-width: 870px) {
    body {
        font-size: 0.6em;
    }
}
@media screen and (max-width: 750px) {
    body {
        font-size: 0.5em;
    }
}
@media screen and (max-width: 550px) {
    body {
        font-size: 0.4em;
    }
}