
@keyframes apparition {
    from {
        height: 0vh;
        font-size: 0em;
    }

    to {
        height: auto;
        font-size: 1em;
    }
}

@keyframes apparition_titre_jaune {
    from {
        left: -100vh;
    }

    to {
        left: 0vh;
    }
}


body {margin: 0px; z-index: 0;}
.intro {
    height: 40vh;
    width: 100vw;
    margin: 0%;
    padding: 0%;
    top: 0px;
    z-index: -1;

    position: sticky;
    animation-duration: 1s;
    animation-name: slidein;
}
.intro>img {
    width: 100vw;
    height: 40vh;
    margin: 0%;
    filter: blur(3px);
}

.intro>div {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 30vw;
    width: 40vw;
    text-align: center;
}
.intro>div>h1 {
    font-size: 4vw;
    margin: auto;
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
div.barre_jaune {
    width: 20vw;
    height: 0.5vh;
    background-color: #FCCC10;
    margin: 1vh auto;
}


main {
    padding: 7vw;
    height: auto;
    background-color: white;
}

h2 {
    background-color: #FCCC10;
    border: solid #FCCC10;
    border-radius: 25px;
    font-size: 5vh;
    padding-left: 2vw;
    width: 75%;
    position: relative;


    animation-duration: 1s;
    animation-name: apparition_titre_jaune;
}

.sous_conteneur {
    border: solid white;
    border-radius: 25px;
    box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.25);
    margin: 4vh auto;
    padding: 1vh 1vw;
    list-style: none;
    background-color: white;

    animation-duration: 0.7s;
    animation-name: apparition;
}

.sous_conteneur_sans_animation {
    border: solid white;
    border-radius: 25px;
    box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.25);
    margin: 4vh auto;
    padding: 1vh 1vw;
    list-style: none;
    background-color: #EEEEFF;
}

/* .sous_conteneur_sans_animation div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: ;
} */

.indentation {
    position: relative;
    left: 1vw;
}
img {
    width: 20vw;
}