/*
    Ici tout les :
        -> width
        -> height
        -> margin
        -> padding
*/
/* ----------------------------------- accueil ----------------------------------- */
body {
    margin: 0%;
    padding: 0%;
}

header {
    width: 100vw;
    height: 7vh;
    margin: 0%;
}

header>section {
    width: 10%;
    margin: auto;
}


main {
    height: 100vh;
    margin-top: 0%;
    padding-top: 3%;
}

